STRIPE_PUBLISHABLE_KEY=<your-stripe-publsih-key>
STRIPE_SECRET_KEY=<your-stripe-secret-key>
STRIPE_WEBHOOK_SECRET=<your-stripe-webhook-secret>

INFURA_NODE=<infura-node-url>
PACIFIC_NODE="https://pacific.oceanprotocol.com"
PORT=4242
OCEAN_CONTRACT_ADDRESS=<ocean-token-contract-address-based-on-network>
OCEAN_FROM_KEY=<ocean-token-funding-wallet-private-key-without-0x>
OCEAN_FROM_ADDRESS=<ocean-token-funding-wallet-address>